<template>
  <div class="card">
    <div class="header">
      <h4 class="title">Edit Profile</h4>
    </div>
    <div class="content" v-if="!pub">
      <form>
        <div class="row">

          <div class="col-md-12">
            <fg-input type="email"
                      label="Login Username/Email"
                      placeholder="Email"
                      v-model="user.email">
            </fg-input>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <fg-input type="text"
                      label="Name"
                      placeholder="Full Name"
                      v-model="user.name">
            </fg-input>

          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <fg-input type="text"
                      label="Phone"
                      placeholder="Phone"
                      v-model="user.phone">
            </fg-input>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <fg-input type="text"
                      label="Profile Picture Link"
                      placeholder="Profile Picture Link"
                      v-model="user.profile_photo">
            </fg-input>
          </div>

        </div>





        <div class="text-center">
          <button v-if="!pub" type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="updateProfile">
            Update Profile
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>

    <div class="content" v-if="pub">
      <form>
        <div class="row">

          <div class="col-md-12">
            <fg- type="text"
                      label="Email"
                      placeholder="Email"
                      v-model="user.email">
            </fg->

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <fg-input type="text"
                      label="Email"
                      v-model="user.email" disabled>
            </fg-input>

          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <fg-input type="text"
                      label="Name"
                      placeholder="Full Name"
                      v-model="user.name" disabled>
            </fg-input>

          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <fg-input type="text"
                      label="Phone"
                      placeholder="Phone"
                      v-model="user.phone" disabled>
            </fg-input>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <fg-input type="text"
                      label="Profile Picture Link"
                      placeholder="Profile Picture Link"
                      v-model="user.profile_photo" disabled>
            </fg-input>
          </div>

        </div>





        <div class="text-center">
          <button v-if="!pub" type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="updateProfile">
            Update Profile
          </button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</template>
<script>
    export default {
        data () {
            return {
                pubID:'',
                pub:false,
                id:'',
                obj:'',
                user: {
                    email: '',
                    name: '',
                    phone: '',
                    profile_photo:''
                }
            }
        },
        methods: {
            updateProfile () {
                this.$http.put("http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/artist/"+this.id,this.user).then(response => {
                    // success callback
                    console.log(response.body);
                    this.$router.go({
                        path: this.$router.path,
                        query: {
                            t: + new Date()
                        }
                    })
                }, response => {
                    // error callback
                });

            },
            getUser() {
                this.$http.get("http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/artist/"+this.id).then(response => {
                    // success callback
                    this.user.email = response.body.email;
                    this.user.name = response.body.name;
                    this.user.phone = response.body.phone;
                    this.user.profile_photo = response.body.profile_photo;
                    this.obj=response.body;
                }, response => {
                    // error callback
                });
            },
            getUserID() {
                this.$http.get("http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/artist/"+this.pubID).then(response => {
                    // success callback
                    this.user.email = response.body.email;
                    this.user.name = response.body.name;
                    this.user.phone = response.body.phone;
                    this.user.profile_photo = response.body.profile_photo;
                    this.obj=response.body;
                }, response => {
                    // error callback
                });
            }
        },
        watch: {
            '$route' (to, from) {
                // react to route changes...


                if(to.path.startsWith("/app/profile/")) {
                    this.pub=true
                    this.pubID = this.$route.params.id;
                    this.getUserID()
                }
                else {
                    this.getUser()
                    this.pub=false
                }

            }
        },
        created() {
            this.id = localStorage.getItem('id')
            if(this.$route.path.length>13) {
                this.pub=true
                this.pubID = this.$route.params.id;
                this.getUserID()
            } else {
                this.getUser()
                this.pub=false
            }
        }
    }

</script>
<style scoped>
  fg-input:disabled.btn:hover,
  input:disabled.btn:active,
  input:disabled.btn:focus {
    color: green
  }
  fg-input[type="button"]:disabled{
    color:#000;
  }
</style>
