<template>
  <div class="card card-user">
    <div class="image">
      <img src="static/img/background.jpg" alt="...">
    </div>
    <div class="content">
      <div class="author">
        <img class="avatar border-white" :src="profile" alt="...">
        <h4 class="title">{{name}}
          <br>
          <a>
            <small>{{gender}}</small>
          </a>
        </h4>
      </div>

    </div>
    <hr>
    <div class="text-center">
      <div class="row">
        <div v-for="(info,index) in details" :class="getClasses(index)">
          <h5>{{info.title}}
            <br>
            <small>{{info.subTitle}}</small>
          </h5>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
  export default {
    data () {
      return {
        details: [
          {
            title: '',
            subTitle: 'Paintings'
          },
          {
            title: '',
            subTitle: 'Sculptures'
          },
          {
            title: '',
            subTitle: 'Joined'
          }
        ],
          gender:'',
          name:'',
          id:'',
          profile:'',
          pub:false,
          paints:'',
          sculps:''
      }
    },
    methods: {
      getClasses (index) {
        var remainder = index % 3
        if (remainder === 0) {
          return 'col-md-3 col-md-offset-1'
        } else if (remainder === 2) {
          return 'col-md-4'
        } else {
          return 'col-md-3'
        }
      },
        getUser() {
            this.$http.get("http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/artist/"+this.id).then(response => {
                // success callback
                this.name = response.body.name;
                this.gender = response.body.gender;
                this.details[1].title = response.body.sculpted.length;
                this.details[0].title = response.body.painted.length;
                this.details[2].title = 2017;
                this.profile = response.body.profile_photo;
            }, response => {
                // error callback
            });
        },
        getUserID() {
            this.$http.get("http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/artist/"+this.pubID).then(response => {
                // success callback
                this.name = response.body.name;
                this.gender = response.body.gender;
                this.details[1].title = response.body.sculpted.length;
                this.details[0].title = response.body.painted.length;
                this.details[2].title = 2017;
                this.profile = response.body.profile_photo;
                this.paints = response.body.painted;
                this.sculps = response.body.sculpted
            }, response => {
                // error callback
            });
        }
    },
      watch: {
          '$route' (to, from) {
              // react to route changes...


              if(to.path.startsWith("/app/profile/")) {
                  this.pub=true
                  this.pubID = this.$route.params.id;
                  this.getUserID()
              }
              else {
                  this.getUser()
                  this.pub=false
              }

          }
      },
      created() {
          this.id = localStorage.getItem('id')
          if(this.$route.path.length>13) {
              this.pub=true
              this.pubID = this.$route.params.id;
              this.getUserID()
          } else {
              this.getUser()
              this.pub=false
          }

      }
  }

</script>
<style>
  
</style>
