<template>
    <div class="wrapper">
        <side-bar v-if="loggedIn==0" type="sidebar" :sidebar-links="$sidebar.userLinks"></side-bar>
        <side-bar v-if="loggedIn==1" type="sidebar" :sidebar-links="$sidebar.adminLinks"></side-bar>
        <side-bar v-if="loggedIn==-1" type="sidebar" :sidebar-links="$sidebar.guestLinks"></side-bar>

        <div class="main-panel">
            <top-navbar></top-navbar>

            <dashboard-content @click.native="toggleSidebar">

            </dashboard-content>

            <content-footer></content-footer>
        </div>
    </div>
</template>
<style lang="scss">

</style>
<script>
    import TopNavbar from './TopNavbar.vue'
    import ContentFooter from './ContentFooter.vue'
    import DashboardContent from './Content.vue'
    export default {
        data() {
            return {
                loggedIn: false
            }
        },
        components: {
            TopNavbar,
            ContentFooter,
            DashboardContent
        },
        methods: {
            toggleSidebar () {
                if (this.$sidebar.showSidebar) {
                    this.$sidebar.displaySidebar(false)
                }
            }
        },
        created() {
            if(localStorage.getItem('id')>0) {
                this.loggedIn = 0;
                if(localStorage.getItem('id')==999999) {
                    this.loggedIn = 1;
                }
            } else {
                this.loggedIn = -1
            }
        }
    }

</script>
