<template>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" :class="{toggled: $sidebar.showSidebar}" @click="toggleSidebar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
        <a class="navbar-brand">{{routeName}}</a>
      </div>
      <div v-if="id>1" class="navbar-right-menu">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a @click="logOut" class="btn-rotate">
              <i class="ti-na"></i>
              <p>
                Log Out
              </p>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
          <li>
            <a>
              <p>
                {{name}}
              </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
    export default {
        computed: {
            routeName () {
                const {name} = this.$route
                return this.capitalizeFirstLetter(name)
            }
        },
        data () {
            return {
                name:'',
                id:'',
                activeNotifications: false
            }
        },
        computed: {
            getID() {
                return localStorage.getItem('id')
            }
        },
        methods: {
            logOut() {
                localStorage.clear();
                this.$router.push('/app/login')
                this.$router.go({
                    path: this.$router.path,
                    query: {
                        t: + new Date()
                    }
                })
            }
        },
        created() {

if(localStorage.getItem('id')) {
    this.id = localStorage.getItem('id');
    console.log("Working")

    if(this.id!=999999) {
        this.$http.get("http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/artist/" + this.id).then(response => {
            // success callback
            this.name = "Logged in as: " + response.body.name;
            console.log("Name Set")
        }, response => {
            // error callback
        });
    } else {
        this.name = "Logged in as: Administrator"
    }
}
        }
    }

</script>
<style>

</style>
