<template>
    <div>
        <h1>Add New Painting</h1>
        <img v-if="imgURL!='NONE'" height="700px" width="300px" class="img-responsive" :src="imgURL" alt="">
        <div class="row">

            <div class="col-md-12">
                <fg-input type="text"
                          label="Name"
                          placeholder="Name of the photo"
                          v-model="painting.name">
                </fg-input>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <fg-input type="textarea"
                          label="Description"
                          placeholder="Description"
                          v-model="painting.description">
                </fg-input>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <!--<fg-input type="file"-->
                          <!--label="File"-->
                          <!--name="pic"-->
                          <!--id="pic"-->
                          <!--@change="onFileChange"-->
                <!--&gt;-->
                <!--</fg-input>-->
                <fg-input type="text"
                          label="URL for Image"
                          placeholder="URL for Image"
                          v-model="painting.photo">
                </fg-input>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">

                <input type="file"  class="form-control" v-on:change="upload($event.target.files)" accept="image/*" />
            </div>
        </div>



        <div class="text-center" style="margin-top:20px;">
            <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="uploadPainting">
                Upload
            </button>
        </div>
        <div class="clearfix">
        </div>





    </div>
</template>
<script>
    import PaperNotification from 'src/components/UIComponents/NotificationPlugin/Notification.vue'
    export default {
        data () {
            return {
                imgURL:'NONE',
                baseAPI:'https://api.cloudinary.com/v1_1/dbnoalpc0',
                code:'cse370',
                painting: {

                },
                pic:{

                },
                url:'',
                id:'',
                type: ['', 'info', 'success', 'warning', 'danger'],
                notifications: {
                    topCenter: false
                },
                cloudinary: {
                    uploadPreset: 'cse370',
                    apiKey: '275388512423949',
                    cloudName: 'dbnoalpc0'
                },
                thumb: {
                    url: ''
                },
                thumbs: []
            }
        },
        computed: {
            clUrl: function() {
                return `https://api.cloudinary.com/v1_1/${this.cloudinary.cloudName}/upload`
            },
        },
        methods: {
            notifyVue (verticalAlign, horizontalAlign) {
                var color = Math.floor((Math.random() * 4) + 1)
                this.$notifications.notify(
                    {
                        message: '<b>Painting Successfully Added!!</b>',
                        icon: 'ti-check',
                        horizontalAlign: horizontalAlign,
                        verticalAlign: verticalAlign,
                        type: this.type[2]
                    })
            },

            uploadPainting() {
                this.$http.post("http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/paintings",{artist_id:this.id,description:this.painting.description,name:this.painting.name,photo:this.painting.photo}).then(response => {
                    // success callback
                    console.log(response.body)
                    this.notifyVue('top', 'right')
                    this.$router.push('/app/mypaintings/1')
                }, response => {
                    // error callback
                });


            },

            upload(file) {
                const formData = new FormData()
                formData.append('file', file[0]);
                formData.append('upload_preset', this.cloudinary.uploadPreset);
                formData.append('tags', 'gs-vue,gs-vue-uploaded');
                this.painting.photo = 'Please wait...';
                this.$http.post(this.clUrl, formData).then(response => {
                    // success callback
                    this.painting.photo = response.body.url;
                    this.imgURL = response.body.url;
                    console.log(response.body)
                }, response => {
                    // error callback
                })
//            .then(res => {
//                    console.log(res.body)
//                    this.thumbs.unshift({
//                        url: res.data.secure_url
//                    });
//
//
//                })
            }

        },
        created() {
            this.id = localStorage.getItem('id')
        },
        components: {
            PaperNotification
        }
    }

</script>
<style>

</style>
