<template>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Header -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          <small>{{selected}} Gallery</small>
        </h1>
      </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div v-for="m in Math.ceil(objs.length/3)" class="row">

      <div v-for="n in 3" v-if="((m-1)*3+(n-1))<objs.length" class="col-md-3 portfolio-item">
        <span>
          <img class="img-responsive" :src="objs[(m-1)*3+(n-1)].photo" alt="">
        </span>
        <h3>
          <span><strong>{{objs[(m-1)*3+(n-1)].name}}</strong><i>  by  <router-link :to="'/app/profile/'+objs[(m-1)*3+(n-1)].artist_id">{{selected==='Painting'?objs[(m-1)*3+(n-1)].painter.name:objs[(m-1)*3+(n-1)].sculpted.name}}</router-link></i></span>
        </h3>
        <p>
          {{objs[(m-1)*3+(n-1)].description}}
        </p>
        <div v-if="isAdmin" class="btn sm" @click="deletePhoto(objs[(m-1)*3+(n-1)].id)">Delete</div>

      </div>

    </div>

    <div v-if="objs.length<1" class="row">

      <h1>NO {{selected}} FOUND</h1>

    </div>
    <!-- /.row -->

    <!-- Projects Row -->

    <hr>

    <!-- Pagination -->

    <div class="row text-center">
      <div class="col-lg-12">
        <ul class="pagination">

          <li>
            <a>&laquo;</a>
          </li>
          <li v-for="n in noPage" :class="{active:n==currentPage}">
            <router-link :to="''+n">{{n}}</router-link>
          </li>
          <li>
            <a>&raquo;</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- /.row -->
  </div>
</template>
<script>
    export default {

        data() {
            return {
                editMode:false,
                tmpLen: 0,
                noPage: 1,
                currentPage: 1,
                objs: '',
                selected:'',
                isAdmin:false
            }
        },

        methods: {
            deletePhoto(iid) {
                if(this.selected=="Painting") {
                    this.$http.delete('http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/paintings/' + iid).then(response => {
                        // success callback
                        this.getPaintings();

                        this.notifyVue('top', 'right', 'Painting Successfully Deleted!!')
                    }, response => {
                        // error callback
                    });

                } else if(this.selected=="Sculpture") {
                    this.$http.delete('http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/sculptures/' + iid).then(response => {
                        // success callback
                        this.getSculps();
                        this.notifyVue('top', 'right', 'Sculpture Scuccessfully Deleted!!')
                    }, response => {
                        // error callback
                    });



                }
//                this.$router.go({
//                    path: this.$router.path,
//                    query: {
//                        t: + new Date()
//                    }
//                })
            },
            editPhoto(obj) {
                this.painting = obj;
                this.editMode = true;
            },
            edit(){
                if(this.selected=="Painting") {
                    console.log(this.painting)

                    this.$http.put('http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/paintings/' + this.painting.id,{name:this.painting.name, description:this.painting.description}).then(response => {
                        // success callback
                        console.log(response.body);
                        this.getPaintings();
                    }, response => {
                        // error callback
                    });

                    this.editMode = false;
                    this.notifyVue('top', 'right', 'Successfully Edited!!')



                } else if(this.selected=="Sculpture") {
                    console.log(this.painting)

                    this.$http.put('http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/sculptures/' + this.painting.id,{name:this.painting.name, description:this.painting.description}).then(response => {
                        // success callback
                        console.log(response.body);
                        this.getSculps();
                    }, response => {
                        // error callback
                    });

                    this.editMode = false;
                    this.notifyVue('top', 'right', 'Successfully Edited!!')

                }
//                this.$router.go({
//                    path: this.$router.path,
//                    query: {
//                        t: + new Date()
//                    }
//                })
            },
            getPaintings() {
                this.$http.get('http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/paintings?page='+this.currentPage).then(response => {
                    this.noPage = response.body.total_pages
                    this.currentPage = response.body.page
                    this.objs = response.body.objects
                    console.log("Paintings")
                    console.log(this.objs)
                }, response => {
                    // error callback
                })
            },
            getSculps() {
                this.$http.get('http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/sculptures?page='+this.currentPage).then(response => {
                    this.noPage = response.body.total_pages
                    this.currentPage = response.body.page
                    this.objs = response.body.objects
                    console.log("Sculps")
                    console.log(this.objs)
                }, response => {
                    // error callback
                })
            }
        },

        created() {
            this.currentPage = this.$route.params.id;
            if(localStorage.getItem('id')==999999){
                this.isAdmin = true;
            }
            if(this.$route.path=='/app/paintings/1') {
                this.selected='Painting'
                this.getPaintings();
            }
            else if(this.$route.path=='/app/sculptures/1'){
                this.selected='Sculpture'
                this.getSculps();
            }


        },
        watch: {
            '$route' (to, from) {
                // react to route changes...
                this.currentPage = this.$route.params.id;

                if(to.path.startsWith("/app/paintings/")) {
                    this.selected='Painting'
                    this.getPaintings();
                }
                else if(to.path.startsWith("/app/sculptures/")) {
                    this.selected='Sculpture'
                    this.getSculps();
                }

            }
        }
    }
</script>
<style scoped>
  /*!
 * Start Bootstrap - 3 Col Portfolio (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

  body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  }

  .portfolio-item {
    margin-bottom: 25px;
  }

  footer {
    margin: 50px 0;
  }
</style>
