<template>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <router-link class="btn" v-if="selected=='Painting'" to="/app/add_painting">Add Painting</router-link>
        <router-link class="btn" v-if="selected=='Sculpture'" to="/app/add_sculpture">Add Sculpture</router-link>
      </div>
    </div>

    <!-- Page Header -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          <small>{{selected}} Gallery</small>
        </h1>
      </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div v-for="m in Math.ceil(objs.length/3)" class="row" v-if="!editMode">

      <div v-for="n in 3" v-if="((m-1)*3+(n-1))<objs.length" class="col-md-3 portfolio-item">
        <span>
          <img class="img-responsive" :src="objs[(m-1)*3+(n-1)].photo" alt="">
        </span>
        <h3>
          <span><strong>{{objs[(m-1)*3+(n-1)].name}}</strong></span>
        </h3>
        <p>
          {{objs[(m-1)*3+(n-1)].description}}
        </p>
        <div class="btn sm" @click="deletePhoto(objs[(m-1)*3+(n-1)].id)">Delete</div>
        <div class="btn sm" @click="editPhoto(objs[(m-1)*3+(n-1)])">Edit</div>
      </div>

    </div>

    <div v-if="objs.length<1" class="row">
<div class="col-md-6">
  <h1>No {{selected}} Found</h1>
</div>


    </div>

    <div class="row" v-if="editMode">
      <h3>Edit</h3>
      <img class="img-responsive" height="700px" width="300px" :src="painting.photo" alt="">
      <div class="row">

        <div class="col-md-6">
          <fg-input type="text"
                    label="Name"
                    placeholder="Name of the photo"
                    v-model="painting.name">
          </fg-input>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <fg-input type="textarea"
                    label="Description"
                    placeholder="Description"
                    v-model="painting.description">
          </fg-input>
        </div>

      </div>






      <div class="text-center">
        <button type="submit" class="btn btn-info btn-fill btn-wd" @click.prevent="edit">
          Update
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->


    <!-- Pagination -->

    <!-- /.row -->
  </div>
</template>
<script>
    import PaperNotification from 'src/components/UIComponents/NotificationPlugin/Notification.vue'

    export default {

        data() {
            return {
                editMode:false,
                id:'',
                tmpLen: 0,
                noPage: 1,
                currentPage: 1,
                objs: '',
                selected:'',
                type: ['', 'info', 'success', 'warning', 'danger'],
                notifications: {
                    topCenter: false
                },
                painting: {

                }
            }
        },

        methods: {
            notifyVue (verticalAlign, horizontalAlign,msg) {
                var color = Math.floor((Math.random() * 4) + 1)
                this.$notifications.notify(
                    {
                        message: '<b>' +msg+'</b>',
                        icon: 'ti-check',
                        horizontalAlign: horizontalAlign,
                        verticalAlign: verticalAlign,
                        type: this.type[2]
                    })
            },
            deletePhoto(iid) {
                if(this.selected=="Painting") {
                    this.$http.delete('http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/paintings/' + iid).then(response => {
                        // success callback
                        this.getPaintings();

                        this.notifyVue('top', 'right', 'Painting Successfully Deleted!!')
                    }, response => {
                        // error callback
                    });

                } else if(this.selected=="Sculpture") {
                    this.$http.delete('http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/sculptures/' + iid).then(response => {
                        // success callback
                        this.getSculps();
                        this.notifyVue('top', 'right', 'Sculpture Scuccessfully Deleted!!')
                    }, response => {
                        // error callback
                    });



                }
//                this.$router.go({
//                    path: this.$router.path,
//                    query: {
//                        t: + new Date()
//                    }
//                })
            },
            editPhoto(obj) {
              this.painting = obj;
              this.editMode = true;
            },
            edit(){
                if(this.selected=="Painting") {
                    console.log(this.painting)

                    this.$http.put('http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/paintings/' + this.painting.id,{name:this.painting.name, description:this.painting.description}).then(response => {
                        // success callback
                        console.log(response.body);
                        this.getPaintings();
                    }, response => {
                        // error callback
                    });

                    this.editMode = false;
                    this.notifyVue('top', 'right', 'Successfully Edited!!')



                } else if(this.selected=="Sculpture") {
                    console.log(this.painting)

                    this.$http.put('http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/sculptures/' + this.painting.id,{name:this.painting.name, description:this.painting.description}).then(response => {
                        // success callback
                        console.log(response.body);
                        this.getSculps();
                    }, response => {
                        // error callback
                    });

                    this.editMode = false;
                    this.notifyVue('top', 'right', 'Successfully Edited!!')

                }
//                this.$router.go({
//                    path: this.$router.path,
//                    query: {
//                        t: + new Date()
//                    }
//                })
            },
            getPaintings() {
                this.$http.get('http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/artist/'+this.id).then(response => {
                    this.objs = response.body.painted
                }, response => {
                    // error callback
                })
            },
            getSculps() {
                this.$http.get('http://ec2-13-228-73-130.ap-southeast-1.compute.amazonaws.com:5000/api/v1/artist/'+this.id).then(response => {
                    this.objs = response.body.sculpted
                }, response => {
                    // error callback
                })
            }
        },

        created() {
            this.id = localStorage.getItem('id')
            if(this.$route.path=='/app/mypaintings/1') {
                this.selected='Painting'
                this.getPaintings();
            }
            else if(this.$route.path=='/app/mysculptures/1'){
                this.selected='Sculpture'
                this.getSculps();
            }


        },
        watch: {
            '$route' (to, from) {
                // react to route changes...
                this.currentPage = this.$route.params.id;

                if(to.path.startsWith("/app/mypaintings/")) {
                    this.selected='Painting'
                    this.getPaintings();
                }
                else if(to.path.startsWith("/app/mysculptures/")) {
                    this.selected='Sculpture'
                    this.getSculps();
                }

            }
        },
        components: {
            PaperNotification
        }
    }
</script>
<style scoped>
  /*!
 * Start Bootstrap - 3 Col Portfolio (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

  body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  }

  .portfolio-item {
    margin-bottom: 25px;
  }

  footer {
    margin: 50px 0;
  }



</style>
