<template>
  <div class="contact-us full-screen">

    <div class="wrapper wrapper-full-page section content">
      <div class="">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h2 class="title text-danger">404 Not Found</h2>
              <h2 class="title">Please don't type in random URLs to test the site, sincerely, Jisan!!</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  export default {}

</script>
